services:
  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      #Map your local folder to the container (Live Reloading works)
      - ./:/app
    env_file:
      - .env
    #This command overrides the Dockerfile CMD to enable reload for dev
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload